
 
html,
body {
        height: 100%;
        font-family: 'Roboto Slab', serif;
    }

    /* Page-header */
    .page-header {
    padding-bottom: 9px;
    margin: 20px 0px 20px;
    border-bottom: 1px solid #eee;
    }

    /* Home Page Carousel */
    header.carousel {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    header.carousel .item,
    header.carousel .item.active,
    header.carousel .carousel-inner {
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        display: block; 
        margin-left: auto; 
        margin-right: auto;
    }

/*here for specific prject three slides img*/
    #over img{
    max-height: 500px;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    header.carousel .img,
    header.carousel .item.active,
    header.carousel .carousel-inner {
        text-align: -webkit-center;
    }


    .carousel-caption {
        color: inherit;
    }

    .carousel-indicators .active {
        background-color: #283747;
    }

    .carousel-indicators li {
        border: 1px solid #283747;

    }

    .img-responsive, 
    .thumbnail > img, 
    .thumbnail a > img, 
    .carousel-inner > 
    .item > img, 
    .carousel-inner > 
    .item > a > img {
        display: block;
        max-width: 100%;
        height: 100%;
    }

    /* Responsive Styles */

    @media(max-width:991px) {
        .customer-img,
        .img-related {
            margin-bottom: 30px;
        }
    }

    @media(max-width:767px) {
        .img-portfolio {
            margin-bottom: 15px;
        }
        header.carousel .carousel {
            height: 70%;
        }
    }

    

    /* Footer Styles */

    footer {
        margin: 50px 0;
    }

    .img-portfolio {
        margin-bottom: 30px;
    }

    .img-hover:hover {
        opacity: 0.8;
    }

    .row {
        margin-bottom: 20px;
    }

    /* Footer Styles */

    footer {
        margin: 50px 0;
    }


h4 {
    margin: 20px 10px 10px;
}


p {
    margin: 10px;
}

#carousel-example-generic {
    margin: 20px auto;
    width: 400px;
}

#carousel-custom {
    margin: 20px auto;
    width: 80%
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: 50px;
    margin: 0 !important;
    width: 100px;
}

#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.4;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 0.7;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 1;
}
#carousel-custom .carousel-outer {
    position: relative;
}

/*here for code section scroll */
div.scroll {
    width: 100%;
    height: 540px;
    overflow: scroll;
}


/*here for drop down button*/
.dropbtn {
    background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 6px 18px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
}



.hockHide {
    display: initial;
    cursor: pointer;
}

.hock {
    display: inline-block;
}

.hockShow {
    display: -webkit-inline-box;
}

.hock:hover .hockShow {
    display: initial;
    cursor: pointer;
}

.hock:hover .hockHide {
    display: -webkit-inline-box;
}

